.App {
  padding: 20px;
  text-align: left;
}
.App .part
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.App .part button
{
  background-color: #333;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-weight: bolder;
  margin-right: 10px;
}



.users .eachuserdetails
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f0f0f0;
  padding: 0px 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  
}
.users .eachuserdetails .part
{
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.users .eachuserdetails .last
{
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.users .eachuserdetails .last button
{
  margin : 10px;
}
.users .eachuserdetails h3
{
  font-size: 0.9rem;
  margin-top: 0px;
  margin-bottom: 5px;
}
.users .eachuserdetails h4
{
  margin: 5px;
  font-size: 0.8rem;
  text-align: left;
  padding: 0px;
  color: #333;
}


@media only screen and (max-width: 768px) {
  .users
  {
    overflow: scroll;
  }
  .users .eachuserdetails
  {
    min-width: 120vw;
  }

}